<div class="pull left">
  <div class="sidebar">
    <% if @current_user %>
    <ul>
    <% @chatrooms.each do |room| %>
      <li><%= link_to room.name.upcase, chatroom_path(id: room.id)%></li>
    <% end %>

  </ul>
  <% end %>
  </div>
</div>
<% if @current_user %>
<h1>Please select a room to view</h1>
<% else %>

<div class="center jumbotron">
    <h2>Welcome to Slack</h2>

    <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
