<div class="row">
  <div class="col-md-2">
    <p style="font-size:15px;">
      <em><%= @current_user.first_name %></em>
    </p>
    <p style="font-size:16px;">
      <em>
        #
        <%= @chatroom.name%></em>
    </p>

  </div>
  <div class="col-md-8">
    <%= react_component 'TextList' %>

  </div>
</div>
