@import 'bootstrap-sprockets';
@import 'bootstrap';

.col-md-2 {
  background: #4D394B;
  color:#AB9BA9;
  height:1050px;
  padding: 30px;
}


.wrapper{
  display: flex;
  justify-content: center;
  background:#4D394B;
  padding: 280px;
}

.front-container {
  margin:0px;
  background-image: url('galaxy_universe-normal.jpg');
  background-size:cover;
  width:100%;
  height:100vh;
  background-repeat: no-repeat;
}

.content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.logo{
  margin-left: -1200px;
  margin-top: 20px;
}

.signin {
  width:50%;
  height:80%;
  margin-top:160px;
  background-color: rgba(350, 240, 241, 0.5);
  border-radius: 10px;
  line-height: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup {
  width:50%;
  height:80%;
  background-color: rgba(350, 240, 241, 0.5);
  margin-top:160px;
  border-radius: 10px;
  line-height: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.row {
font-size: 18px;
width:75%;
color:rgba(189, 195, 199, 1.0);
font-weight: lighter;
border-radius:5px;
border:2px solid white;
margin-left: 50px;
margin-top:20px;
display: inline-block;
}


.signuprow {
font-size: 18px;
width:75%;
color:rgba(189, 195, 199, 1.0);
font-weight: lighter;
border-radius:5px;
border:2px solid white;
margin-top:20px;
display: inline-block;
}

.field-container {
  display:flex;
  flex-wrap: wrap;
  margin:0px;
  margin-top:50px;
  margin-bottom:10px;
}


.signinsubmit {
  font-size: 25px;
  background-color: #34495e;
  border-radius: 5px;
  color:white;
  border:2px solid #34495e;
  width:78%;
  margin-left: 5px;
  margin-top: 10px;
}

.signinsubmit:hover {
  background-color: #2c3e50;
  border:2px solid #2c3e50;
}

.signuplink:hover {
  color:rgba(44, 62, 80, 1.0);
}

.signuplink {
  color:white;
}

.browse {
  font-size: 18px;
  border-radius: 5px;
  height:40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(250, 255, 189);
  color:rgba(189, 195, 199, 1.0);

}

.form-control{
  background: rgb(250, 255, 189);
}

.col-md-8{
  margin-top: 30px;
}

@media only screen and (max-width: 415px) {

   .signupform {
     height:80vh;
     width:95%;
   }

   .signup {
     width:100%;
     height:80%;
     margin-top:80px;
   }

   .signin {
     width:100%;
     height:80%;
     margin-top:80px;
   }

   .row {
     width:85%;
     margin-left: 20px;
     margin-top:20px;
   }

   .signuprow {
    margin-left: 10px;
   }

   .signinsubmit {
     font-size: 16px;
   }
   .logo {
     margin-left: 0;
   }

}
