@import 'bootstrap-sprockets';
@import 'bootstrap';

.col-md-2 {
  background: #4D394B;
  color:#AB9BA9;
  height:900px;
  padding: 30px;
}


.wrapper{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background:#4D394B;
  padding: 220px;
}

.form-group{
  color:#FFFFFF;
}

.form-control{
  background: rgb(250, 255, 189);
}
